<div class="container">
	<div class="jumbotron">
		<img src="https://images.squarespace-cdn.com/content/v1/5cff37a530044b00010dd11f/1560285112770-6WJPKMERDKMDM7W45MII/ke17ZwdGBToddI8pDm48kCDPAJanA_hv8UFutyc75NNZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7Rb66VC8y5UmDKESC3gpGyVvRDKpG4p_QGYclqeuNWRXtom1-N_eYES5jCWHm-XKpQ/good-burger-logo-3.png" width="auto" height="auto">
		<h2>Welcome to Good Burger, Home of the Good Burger, Can I take your Order?</h2>
	</div>
	

	<div class="row">

	<div class="col-md-4 col-md-offset-1">
	 <div class="panel-panel default">
	 	<h1>Ready to Eat Good Burgers</h1>
	 	<ul class="list-group">
	 		{{#each burgers}}
	 		 {{#unless this.devoured}}
	 		 <li class="list-group-item">
	 		  <div class="input-group">
	 		  	<p class="lead">{{this.burgerName}}</p>
	 		  	<span class="input-group-btn">

	 		  		<form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
	 		  			<input type="hidden" name="devoured" value="true">
	 		  			<button class="btn btn-default btn-lg" type="submit">Devour it!</button>
	 		  		</form>
	 		  	</span>
	 		  </div>
	 		 </li>
	 		 {{/unless}}
	 		{{/each}}
	 	</ul>

	 </div>
	</div>

	
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<h1>Devoured Good Burgers</h1>
			<div class="panel panel-default">
				<ul class="list-group">
					{{#each burgers}}
					 {{#if this.devoured}}
					 <li class="list-group-item">
					 	<p class="lead">{{this.burgerName}}</p>
					 </li>
					 {{/if}}
					  {{/each}}
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-10 col-md-offset-1">
	
		
		<form class="create-update-form" action="/api/burgers" method="POST">
		 <div class="form-group">
		 	<textarea class="form-control input-lg" type="text" name="burgerName" row="3" placeholder="Input Burger Name" id="newBurgerName"></textarea>
		 </div>
		 <button class="btn btn-default btn-lg" type="submit" id="#submitBurger">Submit New Burger</button>
		</form>
	</div>

 </div>
</div>
